.basecamp-logo {
    text-align: center;
    margin-top: 7rem;
}

body {
    font-size: 14px !important;
}

.content {
    padding-top: 75px;
}

.center-spacer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fill {
    width: 100%;
    height: 20%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

header {
    padding-top: 54px;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
}

.darker-break {
    background-color: black;
}

.link-text:hover {
    text-decoration: none;
}

.nav-link:hover {
    color: grey !important;
}

#post-form label {
    font-size: 25px !important;
    font-weight: bold;
}

.mw-50 {
    max-width: 50% !important;
}

.para {
    font-size: 14px !important;
}

.d-job {
    display: flex;
    justify-content: space-between;
}

.mc-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.d-tab {
    display: table;
}

.logo {
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.job-link div:hover {
    text-decoration: none;
    background-color: lightgrey;
}

.desc {
    max-width: 40%;
}

.hide {
    display: none;
}

.btn-bcca {
    color: white;
    background-color: #6f4211;
    border-color: #6f4211
}

.btn-bcca:hover {
    color: white;
    background-color: #3b1b0c;
    border-color: #3b1b0c;
}

form {
    flex: 1;
}

#comment {
    width: 25%;
}

.flex-1 {
    flex: 1;
}

.bd-lg {
    border: 1px solid lightgrey;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    #myCarousel{
        width: 100%;
    }

    .nav {
        flex-direction: row !important;
    }

    .nav li{
        margin-right: 1rem !important;
    }

    #preview {
        width: 100% !important;
    }

    #post-form {
        width: 90% !important;
    }

    .mw-50 {
        max-width: 100% !important;
    }

    .d-job {
        display: block !important;
    }

    .mc-auto {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .job-link div {
        width: 90% !important;
    }

    .desc {
        display: none;
    }

    .hide {
        display: block;
    }

    #comment {
        width: 100%
    }
}

