<html>
<head>
    <title>Base Camp Coding Academy Job Posting</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<div class="bg-light">
    <nav
            style="background-color: #3b1b0c"
            class="navbar navbar-expand-lg border-bottom border-dark sticky"
    >
        <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/post">Post</a>
            </li>
        </ul>
        <span class="text-white" style="border: solid red;">ADMIN</span>
    </nav>
    <header id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div
                        class="fill"
                        style="background-image:url('../images/home-top-bg.png');"
                >
                    <span class="center-spacer"></span>
                    <img
                            src="../images/basecamp-logo.png"
                            style="vertical-align:middle;"
                            alt="Base Camp Coding Academy"
                    />
                </div>
            </div>
        </div>
    </header>
<div class="mt-3 p-4">
    {{#adminJob}}
        <div class="container p-3 mx-auto shadow-lg bd-lg">
            <div style="background-color: #3b1b0c" class="card">
                <div class="card-body text-center text-white">
                    <h1 class="card-title">{{company}}</h1>
                </div>
            </div>
            <div style="font-size: 20px;">
                <div class="text-center mt-3">
                    <div>
                        <img class="" src="{{logo}}" style="max-width: 100%; height: auto;" alt="Logo">
                    </div>
                    <div>
                        <p>{{company}} - {{industry}}</p>
                        <small>Posted by: {{name}}</small><br>
                        <small>Date: {{date}}</small>
                    </div>
                </div>
                <h2 class="mt-5 text-center">Job Details</h2>
                <hr>
                <div class="d-job">
                    <div class="p-3">
                        <div class="d-inline-block">
                            <p class="font-weight-bolder">Job Position</p>
                            <hr>
                        </div>
                        <p>{{position}}</p>
                    </div>
                    <div class="p-3">
                        <div class="d-inline-block">
                            <p class="font-weight-bolder">Job Location</p>
                            <hr>
                        </div>
                        <p>{{location}}</p>
                    </div>
                    <div class="p-3">
                        <div class="d-inline-block">
                            <p class="font-weight-bolder">Experience Level</p>
                            <hr>
                        </div>
                        <p>{{exp}}</p>
                    </div>
                </div>
                <div class="p-3 mc-auto">
                    <div class="d-inline-block">
                        <p class="font-weight-bolder">Job Description</p>
                        <hr>
                    </div>
                    <p class="para">{{desc}}</p>
                </div>
                <div class="p-3 mc-auto">
                    <div class="d-inline-block">
                        <p class="font-weight-bolder">Qualifications</p>
                        <hr>
                    </div>
                    <div class="mb-3">
                        {{#qualificationsText}}
                            <li class="para">{{this}}</li>
                        {{/qualificationsText}}
                    </div>
                </div>
                <div class="p-3 mc-auto">
                    <div class="d-inline-block">
                        <p class="font-weight-bolder">Benefits</p>
                        <hr>
                    </div>
                    <div class="mb-3">
                        {{#benefitsText}}
                            <li class="para">{{this}}</li>
                        {{/benefitsText}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <form method="POST" action="/admin/{{ id }}/delete">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <div>
                    <button type="button" class="btn btn-bcca" data-toggle="modal" data-target="#exampleModal">
                        Comment
                    </button>
                </div>
            </div>
        </div>
        <form method="POST" action="/admin/{{id}}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Admin Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="name" placeholder="John Doe" required="required">
                        <textarea class="form-control" name="comment" required="required" rows="4" cols="50" placeholder="Comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-bcca">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <div class="p-4">
            <h2 class="text-center">Comments</h2>
            <hr class="mb-4">
            {{#com}}
                <div id="comment" class="mb-4 p-2 shadow mx-auto bd-lg">
                    <div class="d-flex align-items-center">
                        <p class="font-weight-bolder flex-1 mb-0">Admin · {{name}}</p>
                        <form action="/admin/{{adminJob.id}}/{{id}}/delete" method="POST" class="flex-1 mb-0">
                            <button type="submit" class="btn btn-danger btn-sm float-right">Delete</button>
                        </form>
                    </div>
                    <hr>
                    <p>{{comment}}</p>
                    <small>{{date}}</small>
                    </div>
                </div>
            {{/com}}
        </div>
    {{/adminJob}}
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>